# Capstone Project - The Battle of Neighborhoods (Week 1-2)

## Business Problem section

#### Background

According to Bloomberg News, the London Housing Market is now facing a number of different problems, including the prospect of higher taxes and a warning from the Bank of England that U.K. home values could fall as much as 30 percent in the event of Brexit. More specifically, four problem areas suggest that the London market may be in worse shape than many realize: hidden price falls, record-low sales, homebuilder exodus and tax hikes addressing overseas buyers of homes in England and Wales in addition to the brexit situation around.

#### Business Problem

In this scenario,adoption of a  machine learning tools in order to assist homebuyers clientele in London to make wise and effective decisions could be of help. 

Business problem: How could we provide support to homebuyers in to purchase a suitable real estate in London in this uncertain economic and financial scenario? 

Proposed Solution:
we are going to cluster London neighborhoods in order to recommend venues and the current average price of real estate where homebuyers can make a real estate investment. We will recommend profitable venues according to amenities and essential facilities surrounding such venues i.e. elementary schools, grocery stores,hospitals and recreation facilities.

##  Data section

Data on London properties and the relative price paid data were extracted from the HM Land Registry (http://landregistry.data.gov.uk/).

##Â Methodology section

The Methodology section will describe the main components of our analysis and predication system.
The Methodology section comprises four stages: 
    1. Collect Inspection Data
    2. Explore and Understand Data
    3. Data preparation and preprocessing 
    4. Modeling

#### 1. Collect Inspection Data

After importing the necessary libraries, we download the data from the HM Land Registry website as follows:

In [1]:
import os # Operating System
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium #import folium # map rendering library

print('Libraries imported.')

WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - anaconda/linux-64::grpcio==1.16.1=py36hf8bcb03_1 -> openssl[version='>=1.1.1,<1.1.2.0a0']

Current channels:

  - https://conda.anaconda.org/conda-forge/linux-64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.


WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - anaconda/linux-64::grpcio==1.16.1=py36hf8bcb03_1 -> openssl[version='>=1.1.1,<1.1.2.0a0']

Current channels:

  - https://conda.anaconda.org/conda-forge/linux-64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.


Libraries imported.

In [2]:
#Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018.csv")

Before using data, we will have to explore and understand it.

#### 2. Explore and Understand Data

We read the dataset that we collected from the HM Land Registry website into a pandas' data frame and display the first five rows of it as follows:

In [3]:
df_ppd.head(5)

,{79A74E21-C934-1289-E053-6B04A8C01627},177000,2018-09-21 00:00,LE4 6EE,S,N,F,201,Unnamed: 8,BELPER STREET,Unnamed: 10,LEICESTER,LEICESTER.1,LEICESTER.2,A,A.1
0,{79A74E21-C935-1289-E053-6B04A8C01627},90000,2018-10-01 00:00,LE18 2AE,F,N,L,27,NaN,ELIZABETH COURT,NaN,WIGSTON,OADBY AND WIGSTON,LEICESTERSHIRE,A,A
1,{79A74E21-C936-1289-E053-6B04A8C01627},375000,2018-10-04 00:00,LE11 3HG,D,N,F,6,NaN,GOLDFINCH CLOSE,NaN,LOUGHBOROUGH,CHARNWOOD,LEICESTERSHIRE,A,A
2,{79A74E21-C937-1289-E053-6B04A8C01627},142500,2018-10-08 00:00,LE3 6UY,S,N,F,19,NaN,PINEHURST CLOSE,NaN,LEICESTER,LEICESTER,LEICESTER,A,A
3,{79A74E21-C938-1289-E053-6B04A8C01627},157500,2018-10-22 00:00,LE13 0JH,S,N,F,103,NaN,WEST AVENUE,NaN,MELTON MOWBRAY,MELTON,LEICESTERSHIRE,A,A
4,{79A74E21-C939-1289-E053-6B04A8C01627},192500,2018-10-02 00:00,LE12 7UT,T,N,F,26,NaN,MELODY DRIVE,SILEBY,LOUGHBOROUGH,CHARNWOOD,LEICESTERSHIRE,A,A

In [4]:
df_ppd.shape

(1017356, 16)

Our dataset consists of over 700000 rows and 16 columns. We will now prepare and preprocess data accordingly.

#### 3. Data preparation and preprocessing

At this stage, we prepare our dataset for the modeling process, opting for the most suitable machine learning algorithm for our scope. Accordingly, we perform the following steps: 
- Rename the column names 
- Format the date column 
- Sort data by date of sale 
- Select data only for the city of London 
- Make a list of street names in London 
- Calculate the street-wise average price of the property
- Read the street-wise coordinates into a data frame, eliminating recurring word London from individual names 
- Join the data to find the coordinates of locations which fit into client's budget
- Plot recommended locations on London map along with current market prices

In [5]:
# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [6]:
# Format the date column
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2016
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2016].index, inplace=True)

# Sort by Date of Sale
df_ppd.sort_values(by=['Date_Transfer'],ascending=[False],inplace=True)
df_ppd_london = df_ppd.query("Town_City == 'LONDON'")

# Make a list of street names in LONDON
streets = df_ppd_london['Street'].unique().tolist()
df_grp_price = df_ppd_london.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
df_grp_price.columns = ['Street', 'Avg_Price']

#Input your Budget's Upper Limit and Lower Limit - Find the locations df_grp_price which fits your budget
df_affordable = df_grp_price.query("(Avg_Price >= 2200000) & (Avg_Price <= 2500000)")

# Display the dataframe
df_affordable

                      Street     Avg_Price
195            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
420          APPLEGARTH ROAD  2.400000e+06
698         AYLESTONE AVENUE  2.286667e+06
851          BARONSMEAD ROAD  2.375000e+06
975           BEAUCLERC ROAD  2.480000e+06
1096         BELVEDERE DRIVE  2.340000e+06
1209       BICKENHALL STREET  2.208500e+06
1247       BIRCHLANDS AVENUE  2.217000e+06
1546          BRAMPTON GROVE  2.456875e+06
1625       BRIARDALE GARDENS  2.397132e+06
1790                BROOKWAY  2.400000e+06
1906            BURBAGE ROAD  2.445000e+06
1972               BURY WALK  2.492500e+06
2059         CALLCOTT STREET  2.375000e+06
2120       CAMPDEN HILL ROAD  2.379653e+06
2127            CAMPION ROAD  2.461000e+06
2149           CANNING PLACE  2.425000e+06
2216           CARLISLE ROAD  2.200000e+06
2221         CARLTON GARDENS  2.483500e+06
2233           CARLYLE COURT  2.300000e+06
2396          CHALCOT SQUARE  2.286679e+06
2474            CHARLES LANE  2.414000e+06
2552        CHELSEA CRESCENT  2.495000e+06
2596     CHESTER CLOSE NORTH  2.450000e+06
2627            CHEYNE COURT  2.250000e+06
2630              CHEYNE ROW  2.410000e+06
2675           CHISWICK MALL  2.287500e+06
2797        CLARENDON STREET  2.250000e+06
...                      ...           ...
10878   RUSSELL GARDENS MEWS  2.300000e+06
11125         SETTLES STREET  2.487500e+06
11200         SHELDON AVENUE  2.349542e+06
11432          SOUTH END ROW  2.470000e+06
11510    SOUTHWOOD LAWN ROAD  2.350000e+06
11513         SOVEREIGN PARK  2.500000e+06
11729  ST MARGARETS CRESCENT  2.216500e+06
11765       ST OSWALDS PLACE  2.250000e+06
11785       ST PETERS SQUARE  2.468730e+06
11822       STAFFORD TERRACE  2.355000e+06
12160       SUTHERLAND PLACE  2.456000e+06
12222          SYDNEY STREET  2.240833e+06
12364            THAMES BANK  2.400000e+06
12425            THE HEXAGON  2.335000e+06
12705        TREDEGAR SQUARE  2.436666e+06
12768         TRINITY STREET  2.317500e+06
12918   UPPER HAMPSTEAD WALK  2.500000e+06
13179        WALPOLE GARDENS  2.303500e+06
13181         WALPOLE STREET  2.242500e+06
13255         WARWICK SQUARE  2.432273e+06
13352            WELBECK WAY  2.267000e+06
13364      WELLESLEY TERRACE  2.410000e+06
13375      WELLINGTON STREET  2.293155e+06
13507     WESTMORELAND PLACE  2.300000e+06
13613       WHITFIELD STREET  2.451000e+06
13657         WILFRED STREET  2.410538e+06
13683     WILLOW BRIDGE ROAD  2.425000e+06
13703          WILSON STREET  2.257500e+06
13731        WINCHENDON ROAD  2.350000e+06
13768           WINGATE ROAD  2.206400e+06

[156 rows x 2 columns]

In [7]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [8]:
for index, item in df_affordable.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 195
item: Street       ALBION SQUARE
Avg_Price         2.45e+06
Name: 195, dtype: object
item.Street only: ALBION SQUARE
index: 390
item: Street       ANHALT ROAD
Avg_Price      2.435e+06
Name: 390, dtype: object
item.Street only: ANHALT ROAD
index: 405
item: Street       ANSDELL TERRACE
Avg_Price           2.25e+06
Name: 405, dtype: object
item.Street only: ANSDELL TERRACE
index: 420
item: Street       APPLEGARTH ROAD
Avg_Price            2.4e+06
Name: 420, dtype: object
item.Street only: APPLEGARTH ROAD
index: 698
item: Street       AYLESTONE AVENUE
Avg_Price         2.28667e+06
Name: 698, dtype: object
item.Street only: AYLESTONE AVENUE
index: 851
item: Street       BARONSMEAD ROAD
Avg_Price          2.375e+06
Name: 851, dtype: object
item.Street only: BARONSMEAD ROAD
index: 975
item: Street       BEAUCLERC ROAD
Avg_Price          2.48e+06
Name: 975, dtype: object
item.Street only: BEAUCLERC ROAD
index: 1096
item: Street       BELVEDERE DRIVE
Avg_Price           2.34e+06
Name: 1096, dtype: object
item.Street only: BELVEDERE DRIVE
index: 1209
item: Street       BICKENHALL STREET
Avg_Price           2.2085e+06
Name: 1209, dtype: object
item.Street only: BICKENHALL STREET
index: 1247
item: Street       BIRCHLANDS AVENUE
Avg_Price            2.217e+06
Name: 1247, dtype: object
item.Street only: BIRCHLANDS AVENUE
index: 1546
item: Street       BRAMPTON GROVE
Avg_Price       2.45688e+06
Name: 1546, dtype: object
item.Street only: BRAMPTON GROVE
index: 1625
item: Street       BRIARDALE GARDENS
Avg_Price          2.39713e+06
Name: 1625, dtype: object
item.Street only: BRIARDALE GARDENS
index: 1790
item: Street       BROOKWAY
Avg_Price     2.4e+06
Name: 1790, dtype: object
item.Street only: BROOKWAY
index: 1906
item: Street       BURBAGE ROAD
Avg_Price       2.445e+06
Name: 1906, dtype: object
item.Street only: BURBAGE ROAD
index: 1972
item: Street        BURY WALK
Avg_Price    2.4925e+06
Name: 1972, dtype: object
item.Street only: BURY WALK
index: 2059
item: Street       CALLCOTT STREET
Avg_Price          2.375e+06
Name: 2059, dtype: object
item.Street only: CALLCOTT STREET
index: 2120
item: Street       CAMPDEN HILL ROAD
Avg_Price          2.37965e+06
Name: 2120, dtype: object
item.Street only: CAMPDEN HILL ROAD
index: 2127
item: Street       CAMPION ROAD
Avg_Price       2.461e+06
Name: 2127, dtype: object
item.Street only: CAMPION ROAD
index: 2149
item: Street       CANNING PLACE
Avg_Price        2.425e+06
Name: 2149, dtype: object
item.Street only: CANNING PLACE
index: 2216
item: Street       CARLISLE ROAD
Avg_Price          2.2e+06
Name: 2216, dtype: object
item.Street only: CARLISLE ROAD
index: 2221
item: Street       CARLTON GARDENS
Avg_Price         2.4835e+06
Name: 2221, dtype: object
item.Street only: CARLTON GARDENS
index: 2233
item: Street       CARLYLE COURT
Avg_Price          2.3e+06
Name: 2233, dtype: object
item.Street only: CARLYLE COURT
index: 2396
item: Street       CHALCOT SQUARE
Avg_Price       2.28668e+06
Name: 2396, dtype: object
item.Street only: CHALCOT SQUARE
index: 2474
item: Street       CHARLES LANE
Avg_Price       2.414e+06
Name: 2474, dtype: object
item.Street only: CHARLES LANE
index: 2552
item: Street       CHELSEA CRESCENT
Avg_Price           2.495e+06
Name: 2552, dtype: object
item.Street only: CHELSEA CRESCENT
index: 2596
item: Street       CHESTER CLOSE NORTH
Avg_Price               2.45e+06
Name: 2596, dtype: object
item.Street only: CHESTER CLOSE NORTH
index: 2627
item: Street       CHEYNE COURT
Avg_Price        2.25e+06
Name: 2627, dtype: object
item.Street only: CHEYNE COURT
index: 2630
item: Street       CHEYNE ROW
Avg_Price      2.41e+06
Name: 2630, dtype: object
item.Street only: CHEYNE ROW
index: 2675
item: Street       CHISWICK MALL
Avg_Price       2.2875e+06
Name: 2675, dtype: object
item.Street only: CHISWICK MALL
index: 2797
item: Street       CLARENDON STREET
Avg_Price            2.25e+06
Name: 2797, dtype: object
item.Street only: CLARENDON STREET
index: 2887
item: Street       CLONCURRY STREET
Avg_Price         2.38833e+06
Name: 2887, dtype: object
item.Street only: CLONCURRY STREET
index: 2931
item: Street       COLBECK MEWS
Avg_Price      2.3675e+06
Name: 2931, dtype: object
item.Street only: COLBECK MEWS
index: 3189
item: Street       CORNWALL TERRACE MEWS
Avg_Price                 2.35e+06
Name: 3189, dtype: object
item.Street only: CORNWALL TERRACE MEWS
index: 3242
item: Street       COURT LANE GARDENS
Avg_Price              2.36e+06
Name: 3242, dtype: object
item.Street only: COURT LANE GARDENS
index: 3363
item: Street       CRESCENT GROVE
Avg_Price         2.298e+06
Name: 3363, dtype: object
item.Street only: CRESCENT GROVE
index: 3569
item: Street       DALEBURY ROAD
Avg_Price          2.4e+06
Name: 3569, dtype: object
item.Street only: DALEBURY ROAD
index: 3835
item: Street       DEWHURST ROAD
Avg_Price        2.425e+06
Name: 3835, dtype: object
item.Street only: DEWHURST ROAD
index: 3916
item: Street       DORIA ROAD
Avg_Price    2.3625e+06
Name: 3916, dtype: object
item.Street only: DORIA ROAD
index: 3967
item: Street       DOWNSHIRE HILL
Avg_Price         2.225e+06
Name: 3967, dtype: object
item.Street only: DOWNSHIRE HILL
index: 4022
item: Street       DUCHESS WALK
Avg_Price      2.4775e+06
Name: 4022, dtype: object
item.Street only: DUCHESS WALK
index: 4218
item: Street       ECCLESTON SQUARE MEWS
Avg_Price               2.3355e+06
Name: 4218, dtype: object
item.Street only: ECCLESTON SQUARE MEWS
index: 4271
item: Street       EGBERT STREET
Avg_Price        2.265e+06
Name: 4271, dtype: object
item.Street only: EGBERT STREET
index: 4275
item: Street       EGERTON PLACE
Avg_Price          2.2e+06
Name: 4275, dtype: object
item.Street only: EGERTON PLACE
index: 4360
item: Street       ELM PARK ROAD
Avg_Price      2.32042e+06
Name: 4360, dtype: object
item.Street only: ELM PARK ROAD
index: 4997
item: Street       FRANK DIXON WAY
Avg_Price         2.2125e+06
Name: 4997, dtype: object
item.Street only: FRANK DIXON WAY
index: 5079
item: Street       FULTON MEWS
Avg_Price      2.299e+06
Name: 5079, dtype: object
item.Street only: FULTON MEWS
index: 5221
item: Street       GERARD ROAD
Avg_Price     2.2585e+06
Name: 5221, dtype: object
item.Street only: GERARD ROAD
index: 5224
item: Street       GERRARD ROAD
Avg_Price      2.2425e+06
Name: 5224, dtype: object
item.Street only: GERRARD ROAD
index: 5269
item: Street       GIRDLERS ROAD
Avg_Price      2.44167e+06
Name: 5269, dtype: object
item.Street only: GIRDLERS ROAD
index: 5362
item: Street       GLOUCESTER CRESCENT
Avg_Price            2.35083e+06
Name: 5362, dtype: object
item.Street only: GLOUCESTER CRESCENT
index: 5429
item: Street       GORDON PLACE
Avg_Price       2.477e+06
Name: 5429, dtype: object
item.Street only: GORDON PLACE
index: 5465
item: Street       GRAFTON SQUARE
Avg_Price          2.27e+06
Name: 5465, dtype: object
item.Street only: GRAFTON SQUARE
index: 5472
item: Street       GRAHAM TERRACE
Avg_Price         2.325e+06
Name: 5472, dtype: object
item.Street only: GRAHAM TERRACE
index: 5930
item: Street       HARMAN DRIVE
Avg_Price      2.2625e+06
Name: 5930, dtype: object
item.Street only: HARMAN DRIVE
index: 6016
item: Street       HAVANNAH STREET
Avg_Price        2.21731e+06
Name: 6016, dtype: object
item.Street only: HAVANNAH STREET
index: 6087
item: Street       HAZLEWELL ROAD
Avg_Price           2.5e+06
Name: 6087, dtype: object
item.Street only: HAZLEWELL ROAD
index: 6203
item: Street       HEREFORD MEWS
Avg_Price         2.31e+06
Name: 6203, dtype: object
item.Street only: HEREFORD MEWS
index: 6223
item: Street       HERONDALE AVENUE
Avg_Price           2.475e+06
Name: 6223, dtype: object
item.Street only: HERONDALE AVENUE
index: 6320
item: Street       HIGHGATE HIGH STREET
Avg_Price               2.211e+06
Name: 6320, dtype: object
item.Street only: HIGHGATE HIGH STREET
index: 6335
item: Street       HIGHWOOD HILL
Avg_Price       2.2525e+06
Name: 6335, dtype: object
item.Street only: HIGHWOOD HILL
index: 6371
item: Street       HILLGATE PLACE
Avg_Price           2.2e+06
Name: 6371, dtype: object
item.Street only: HILLGATE PLACE
index: 6480
item: Street       HOLLYCROFT AVENUE
Avg_Price          2.36138e+06
Name: 6480, dtype: object
item.Street only: HOLLYCROFT AVENUE
index: 6484
item: Street       HOLLYWOOD MEWS
Avg_Price          2.35e+06
Name: 6484, dtype: object
item.Street only: HOLLYWOOD MEWS
index: 6529
item: Street       HONEYWELL ROAD
Avg_Price       2.27833e+06
Name: 6529, dtype: object
item.Street only: HONEYWELL ROAD
index: 6584
item: Street       HORTENSIA ROAD
Avg_Price       2.27592e+06
Name: 6584, dtype: object
item.Street only: HORTENSIA ROAD
index: 6613
item: Street       HOXTON SQUARE
Avg_Price      2.23429e+06
Name: 6613, dtype: object
item.Street only: HOXTON SQUARE
index: 6639
item: Street       HUNTER ROAD
Avg_Price        2.3e+06
Name: 6639, dtype: object
item.Street only: HUNTER ROAD
index: 6797
item: Street       JACKSONS LANE
Avg_Price       2.3625e+06
Name: 6797, dtype: object
item.Street only: JACKSONS LANE
index: 7161
item: Street       KINNERTON STREET
Avg_Price          2.4856e+06
Name: 7161, dtype: object
item.Street only: KINNERTON STREET
index: 7195
item: Street       KNARESBOROUGH PLACE
Avg_Price              2.325e+06
Name: 7195, dtype: object
item.Street only: KNARESBOROUGH PLACE
index: 7215
item: Street       KNOX STREET
Avg_Price       2.25e+06
Name: 7215, dtype: object
item.Street only: KNOX STREET
index: 7235
item: Street       LADBROKE GROVE
Avg_Price        2.4833e+06
Name: 7235, dtype: object
item.Street only: LADBROKE GROVE
index: 7303
item: Street       LANCASTER MEWS
Avg_Price        2.3125e+06
Name: 7303, dtype: object
item.Street only: LANCASTER MEWS
index: 7399
item: Street       LATIMER INDUSTRIAL ESTATE
Avg_Price                      2.4e+06
Name: 7399, dtype: object
item.Street only: LATIMER INDUSTRIAL ESTATE
index: 7452
item: Street       LAXTON PLACE
Avg_Price         2.5e+06
Name: 7452, dtype: object
item.Street only: LAXTON PLACE
index: 7652
item: Street       LINCOLN AVENUE
Avg_Price        2.2035e+06
Name: 7652, dtype: object
item.Street only: LINCOLN AVENUE
index: 7680
item: Street       LINGFIELD ROAD
Avg_Price       2.24875e+06
Name: 7680, dtype: object
item.Street only: LINGFIELD ROAD
index: 7709
item: Street       LISSON STREET
Avg_Price       2.4625e+06
Name: 7709, dtype: object
item.Street only: LISSON STREET
index: 7742
item: Street       LIVERPOOL GROVE
Avg_Price          2.288e+06
Name: 7742, dtype: object
item.Street only: LIVERPOOL GROVE
index: 7834
item: Street       LONGWOOD DRIVE
Avg_Price         2.375e+06
Name: 7834, dtype: object
item.Street only: LONGWOOD DRIVE
index: 7840
item: Street       LONSDALE SQUARE
Avg_Price         2.3575e+06
Name: 7840, dtype: object
item.Street only: LONSDALE SQUARE
index: 8376
item: Street       MAZE HILL
Avg_Price     2.25e+06
Name: 8376, dtype: object
item.Street only: MAZE HILL
index: 8511
item: Street       MIDDLESEX PASSAGE
Avg_Price             2.28e+06
Name: 8511, dtype: object
item.Street only: MIDDLESEX PASSAGE
index: 8674
item: Street       MONTPELIER AVENUE
Avg_Price              2.5e+06
Name: 8674, dtype: object
item.Street only: MONTPELIER AVENUE
index: 8684
item: Street       MONTPELIER WALK
Avg_Price           2.32e+06
Name: 8684, dtype: object
item.Street only: MONTPELIER WALK
index: 8832
item: Street       MULTON ROAD
Avg_Price        2.3e+06
Name: 8832, dtype: object
item.Street only: MULTON ROAD
index: 8837
item: Street       MUNDEN STREET
Avg_Price         2.25e+06
Name: 8837, dtype: object
item.Street only: MUNDEN STREET
index: 9107
item: Street       NORFOLK CRESCENT
Avg_Price         2.22333e+06
Name: 9107, dtype: object
item.Street only: NORFOLK CRESCENT
index: 9130
item: Street       NORTH CIRCULAR ROAD
Avg_Price            2.39314e+06
Name: 9130, dtype: object
item.Street only: NORTH CIRCULAR ROAD
index: 9206
item: Street       NOTTINGHAM STREET
Avg_Price           2.2275e+06
Name: 9206, dtype: object
item.Street only: NOTTINGHAM STREET
index: 9281
item: Street       OAKLEY STREET
Avg_Price      2.38129e+06
Name: 9281, dtype: object
item.Street only: OAKLEY STREET
index: 9292
item: Street       OAKWOOD COURT
Avg_Price      2.34875e+06
Name: 9292, dtype: object
item.Street only: OAKWOOD COURT
index: 9300
item: Street       OBSERVATORY GARDENS
Avg_Price               2.42e+06
Name: 9300, dtype: object
item.Street only: OBSERVATORY GARDENS
index: 9335
item: Street       OLD COURT PLACE
Avg_Price          2.395e+06
Name: 9335, dtype: object
item.Street only: OLD COURT PLACE
index: 9396
item: Street       ONSLOW MEWS WEST
Avg_Price             2.3e+06
Name: 9396, dtype: object
item.Street only: ONSLOW MEWS WEST
index: 9526
item: Street       PALACE PLACE
Avg_Price         2.3e+06
Name: 9526, dtype: object
item.Street only: PALACE PLACE
index: 9555
item: Street       PANTON STREET
Avg_Price        2.475e+06
Name: 9555, dtype: object
item.Street only: PANTON STREET
index: 9574
item: Street       PARK CRESCENT
Avg_Price         2.44e+06
Name: 9574, dtype: object
item.Street only: PARK CRESCENT
index: 9583
item: Street        PARK LANE
Avg_Price    2.2415e+06
Name: 9583, dtype: object
item.Street only: PARK LANE
index: 9604
item: Street       PARKE ROAD
Avg_Price    2.2625e+06
Name: 9604, dtype: object
item.Street only: PARKE ROAD
index: 9607
item: Street       PARKFIELDS
Avg_Price       2.2e+06
Name: 9607, dtype: object
item.Street only: PARKFIELDS
index: 9644
item: Street       PARTHENIA ROAD
Avg_Price       2.20057e+06
Name: 9644, dtype: object
item.Street only: PARTHENIA ROAD
index: 9676
item: Street       PAVILION ROAD
Avg_Price          2.2e+06
Name: 9676, dtype: object
item.Street only: PAVILION ROAD
index: 9737
item: Street       PEMBRIDGE MEWS
Avg_Price         2.251e+06
Name: 9737, dtype: object
item.Street only: PEMBRIDGE MEWS
index: 9739
item: Street       PEMBRIDGE ROAD
Avg_Price           2.4e+06
Name: 9739, dtype: object
item.Street only: PEMBRIDGE ROAD
index: 9748
item: Street       PEMBROKE STUDIOS
Avg_Price            2.45e+06
Name: 9748, dtype: object
item.Street only: PEMBROKE STUDIOS
index: 9753
item: Street       PENCOMBE MEWS
Avg_Price          2.2e+06
Name: 9753, dtype: object
item.Street only: PENCOMBE MEWS
index: 9831
item: Street       PETERSHAM PLACE
Avg_Price            2.3e+06
Name: 9831, dtype: object
item.Street only: PETERSHAM PLACE
index: 9846
item: Street       PHILLIMORE GARDENS
Avg_Price           2.48467e+06
Name: 9846, dtype: object
item.Street only: PHILLIMORE GARDENS
index: 9854
item: Street       PHYSIC PLACE
Avg_Price         2.5e+06
Name: 9854, dtype: object
item.Street only: PHYSIC PLACE
index: 9892
item: Street       PITFIELD STREET
Avg_Price        2.48333e+06
Name: 9892, dtype: object
item.Street only: PITFIELD STREET
index: 10101
item: Street       PRINCES GATE
Avg_Price     2.40333e+06
Name: 10101, dtype: object
item.Street only: PRINCES GATE
index: 10129
item: Street       PRIORY ROAD
Avg_Price    2.24826e+06
Name: 10129, dtype: object
item.Street only: PRIORY ROAD
index: 10140
item: Street       PROTHERO GARDENS
Avg_Price          2.2025e+06
Name: 10140, dtype: object
item.Street only: PROTHERO GARDENS
index: 10175
item: Street       PUTNEY HIGH STREET
Avg_Price            2.3486e+06
Name: 10175, dtype: object
item.Street only: PUTNEY HIGH STREET
index: 10192
item: Street       QUARRENDON STREET
Avg_Price          2.43775e+06
Name: 10192, dtype: object
item.Street only: QUARRENDON STREET
index: 10279
item: Street       RADSTOCK STREET
Avg_Price        2.20667e+06
Name: 10279, dtype: object
item.Street only: RADSTOCK STREET
index: 10324
item: Street       RANELAGH AVENUE
Avg_Price            2.3e+06
Name: 10324, dtype: object
item.Street only: RANELAGH AVENUE
index: 10431
item: Street       REDCLIFFE ROAD
Avg_Price       2.44875e+06
Name: 10431, dtype: object
item.Street only: REDCLIFFE ROAD
index: 10456
item: Street       REEVES MEWS
Avg_Price       2.45e+06
Name: 10456, dtype: object
item.Street only: REEVES MEWS
index: 10512
item: Street       RHEIDOL MEWS
Avg_Price        2.31e+06
Name: 10512, dtype: object
item.Street only: RHEIDOL MEWS
index: 10566
item: Street       RINGWOOD AVENUE
Avg_Price          2.275e+06
Name: 10566, dtype: object
item.Street only: RINGWOOD AVENUE
index: 10646
item: Street       RODERICK ROAD
Avg_Price          2.4e+06
Name: 10646, dtype: object
item.Street only: RODERICK ROAD
index: 10703
item: Street       ROPEMAKERS FIELDS
Avg_Price              2.5e+06
Name: 10703, dtype: object
item.Street only: ROPEMAKERS FIELDS
index: 10815
item: Street       ROYAL CRESCENT
Avg_Price       2.34833e+06
Name: 10815, dtype: object
item.Street only: ROYAL CRESCENT
index: 10821
item: Street       ROYAL HILL
Avg_Price    2.2525e+06
Name: 10821, dtype: object
item.Street only: ROYAL HILL
index: 10878
item: Street       RUSSELL GARDENS MEWS
Avg_Price                 2.3e+06
Name: 10878, dtype: object
item.Street only: RUSSELL GARDENS MEWS
index: 11125
item: Street       SETTLES STREET
Avg_Price        2.4875e+06
Name: 11125, dtype: object
item.Street only: SETTLES STREET
index: 11200
item: Street       SHELDON AVENUE
Avg_Price       2.34954e+06
Name: 11200, dtype: object
item.Street only: SHELDON AVENUE
index: 11432
item: Street       SOUTH END ROW
Avg_Price         2.47e+06
Name: 11432, dtype: object
item.Street only: SOUTH END ROW
index: 11510
item: Street       SOUTHWOOD LAWN ROAD
Avg_Price               2.35e+06
Name: 11510, dtype: object
item.Street only: SOUTHWOOD LAWN ROAD
index: 11513
item: Street       SOVEREIGN PARK
Avg_Price           2.5e+06
Name: 11513, dtype: object
item.Street only: SOVEREIGN PARK
index: 11729
item: Street       ST MARGARETS CRESCENT
Avg_Price               2.2165e+06
Name: 11729, dtype: object
item.Street only: ST MARGARETS CRESCENT
index: 11765
item: Street       ST OSWALDS PLACE
Avg_Price            2.25e+06
Name: 11765, dtype: object
item.Street only: ST OSWALDS PLACE
index: 11785
item: Street       ST PETERS SQUARE
Avg_Price         2.46873e+06
Name: 11785, dtype: object
item.Street only: ST PETERS SQUARE
index: 11822
item: Street       STAFFORD TERRACE
Avg_Price           2.355e+06
Name: 11822, dtype: object
item.Street only: STAFFORD TERRACE
index: 12160
item: Street       SUTHERLAND PLACE
Avg_Price           2.456e+06
Name: 12160, dtype: object
item.Street only: SUTHERLAND PLACE
index: 12222
item: Street       SYDNEY STREET
Avg_Price      2.24083e+06
Name: 12222, dtype: object
item.Street only: SYDNEY STREET
index: 12364
item: Street       THAMES BANK
Avg_Price        2.4e+06
Name: 12364, dtype: object
item.Street only: THAMES BANK
index: 12425
item: Street       THE HEXAGON
Avg_Price      2.335e+06
Name: 12425, dtype: object
item.Street only: THE HEXAGON
index: 12705
item: Street       TREDEGAR SQUARE
Avg_Price        2.43667e+06
Name: 12705, dtype: object
item.Street only: TREDEGAR SQUARE
index: 12768
item: Street       TRINITY STREET
Avg_Price        2.3175e+06
Name: 12768, dtype: object
item.Street only: TRINITY STREET
index: 12918
item: Street       UPPER HAMPSTEAD WALK
Avg_Price                 2.5e+06
Name: 12918, dtype: object
item.Street only: UPPER HAMPSTEAD WALK
index: 13179
item: Street       WALPOLE GARDENS
Avg_Price         2.3035e+06
Name: 13179, dtype: object
item.Street only: WALPOLE GARDENS
index: 13181
item: Street       WALPOLE STREET
Avg_Price        2.2425e+06
Name: 13181, dtype: object
item.Street only: WALPOLE STREET
index: 13255
item: Street       WARWICK SQUARE
Avg_Price       2.43227e+06
Name: 13255, dtype: object
item.Street only: WARWICK SQUARE
index: 13352
item: Street       WELBECK WAY
Avg_Price      2.267e+06
Name: 13352, dtype: object
item.Street only: WELBECK WAY
index: 13364
item: Street       WELLESLEY TERRACE
Avg_Price             2.41e+06
Name: 13364, dtype: object
item.Street only: WELLESLEY TERRACE
index: 13375
item: Street       WELLINGTON STREET
Avg_Price          2.29316e+06
Name: 13375, dtype: object

In [ ]:
geolocator = Nominatim()

In [ ]:
df_affordable['city_coord'] = df_affordable['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

In [11]:
df_affordable

                      Street     Avg_Price                         city_coord
195            ALBION SQUARE  2.450000e+06   (-41.27375755, 173.289393239104)
390              ANHALT ROAD  2.435000e+06           (51.4803265, -0.1667607)
405          ANSDELL TERRACE  2.250000e+06           (51.4998899, -0.1891027)
420          APPLEGARTH ROAD  2.400000e+06              (53.749244, -0.32678)
698         AYLESTONE AVENUE  2.286667e+06           (51.5409157, -0.2178742)
851          BARONSMEAD ROAD  2.375000e+06            (51.4773147, -0.239457)
975           BEAUCLERC ROAD  2.480000e+06           (51.4995771, -0.2290331)
1096         BELVEDERE DRIVE  2.340000e+06            (38.201316, -84.623076)
1209       BICKENHALL STREET  2.208500e+06           (51.5211969, -0.1589341)
1247       BIRCHLANDS AVENUE  2.217000e+06           (51.4483941, -0.1604676)
1546          BRAMPTON GROVE  2.456875e+06           (51.5703648, -0.2833944)
1625       BRIARDALE GARDENS  2.397132e+06           (51.5601748, -0.1954305)
1790                BROOKWAY  2.400000e+06    (45.4321849, -122.802811661158)
1906            BURBAGE ROAD  2.445000e+06           (51.4509669, -0.0952879)
1972               BURY WALK  2.492500e+06           (52.1455294, -0.4235933)
2059         CALLCOTT STREET  2.375000e+06           (51.5083499, -0.1983276)
2120       CAMPDEN HILL ROAD  2.379653e+06           (51.5064605, -0.1988955)
2127            CAMPION ROAD  2.461000e+06            (52.6813505, 0.9654391)
2149           CANNING PLACE  2.425000e+06             (53.4022012, -2.98726)
2216           CARLISLE ROAD  2.200000e+06          (42.5490988, -71.4166686)
2221         CARLTON GARDENS  2.483500e+06   (-37.80194335, 144.971970171017)
2233           CARLYLE COURT  2.300000e+06           (41.119072, -75.0615162)
2396          CHALCOT SQUARE  2.286679e+06           (51.5414545, -0.1552649)
2474            CHARLES LANE  2.414000e+06           (40.2375254, -83.349229)
2552        CHELSEA CRESCENT  2.495000e+06            (34.524738, -85.448539)
2596     CHESTER CLOSE NORTH  2.450000e+06           (51.5292054, -0.1450813)
2627            CHEYNE COURT  2.250000e+06             (51.599677, 0.5256231)
2630              CHEYNE ROW  2.410000e+06            (51.4837173, -0.169603)
2675           CHISWICK MALL  2.287500e+06           (51.4879942, -0.2466045)
2797        CLARENDON STREET  2.250000e+06           (52.2947728, -1.5315409)
...                      ...           ...                                ...
10878   RUSSELL GARDENS MEWS  2.300000e+06           (51.4998689, -0.2118904)
11125         SETTLES STREET  2.487500e+06           (51.5153237, -0.0643266)
11200         SHELDON AVENUE  2.349542e+06            (43.599287, -73.045426)
11432          SOUTH END ROW  2.470000e+06           (51.4987463, -0.1890787)
11510    SOUTHWOOD LAWN ROAD  2.350000e+06            (51.5746267, -0.146238)
11513         SOVEREIGN PARK  2.500000e+06    (-27.4937089, 153.210145350143)
11729  ST MARGARETS CRESCENT  2.216500e+06            (53.6074918, -0.267971)
11765       ST OSWALDS PLACE  2.250000e+06           (51.4872071, -0.1185341)
11785       ST PETERS SQUARE  2.468730e+06     (41.9022353, 12.4578392797771)
11822       STAFFORD TERRACE  2.355000e+06           (51.5009379, -0.1960492)
12160       SUTHERLAND PLACE  2.456000e+06           (54.7731795, -1.5438161)
12222          SYDNEY STREET  2.240833e+06         (-33.8051445, 151.1933273)
12364            THAMES BANK  2.400000e+06            (51.471715, -0.2689072)
12425            THE HEXAGON  2.335000e+06          (-31.8956726, 26.8758122)
12705        TREDEGAR SQUARE  2.436666e+06  (51.5270935, -0.0321842332596606)
12768         TRINITY STREET  2.317500e+06             (52.206141, 0.1181326)
12918   UPPER HAMPSTEAD WALK  2.500000e+06            (51.558467, -0.1774529)
13179        WALPOLE GARDENS  2.303500e+06           (51.4397435, -0.3412634)
13181         WALPOLE STREET  2.242500e+06             (52.626946, 1.2846547)
13255         WARWICK SQUARE  2.432273e+06    (33.7385632, -117.846505677465)
13352            WELBECK WAY  2.267000e+06           (51.5171194, -0.1484584)
13364      WELLESLEY TERRACE  2.410000e+06           (51.5292142, -0.0929327)
13375      WELLINGTON STREET  2.293155e+06          (22.2810766, 114.1560454)
13507     WESTMORELAND PLACE  2.300000e+06         (40.7402242, -111.8463235)
13613       WHITFIELD STREET  2.451000e+06           (53.4920178, -2.2422181)
13657         WILFRED STREET  2.410538e+06           (53.5116186, -2.1947278)
13683     WILLOW BRIDGE ROAD  2.425000e+06           (51.5431088, -0.0955079)
13703          WILSON STREET  2.257500e+06         (38.4394642, -122.7221956)
13731        WINCHENDON ROAD  2.350000e+06           (51.4769577, -0.2039029)
13768           WINGATE ROAD  2.206400e+06            (41.042984, -80.622981)

[156 rows x 3 columns]

In [ ]:
df_affordable[['Latitude', 'Longitude']] = df_affordable['city_coord'].apply(pd.Series)

In [13]:
df_affordable

,Street,Avg_Price,city_coord,Latitude,Longitude
195,ALBION SQUARE,2.450000e+06,"(-41.27375755, 173.289393239104)",-41.273758,173.289393
390,ANHALT ROAD,2.435000e+06,"(51.4803265, -0.1667607)",51.480326,-0.166761
405,ANSDELL TERRACE,2.250000e+06,"(51.4998899, -0.1891027)",51.499890,-0.189103
420,APPLEGARTH ROAD,2.400000e+06,"(53.749244, -0.32678)",53.749244,-0.326780
698,AYLESTONE AVENUE,2.286667e+06,"(51.5409157, -0.2178742)",51.540916,-0.217874
851,BARONSMEAD ROAD,2.375000e+06,"(51.4773147, -0.239457)",51.477315,-0.239457
975,BEAUCLERC ROAD,2.480000e+06,"(51.4995771, -0.2290331)",51.499577,-0.229033
1096,BELVEDERE DRIVE,2.340000e+06,"(38.201316, -84.623076)",38.201316,-84.623076
1209,BICKENHALL STREET,2.208500e+06,"(51.5211969, -0.1589341)",51.521197,-0.158934
1247,BIRCHLANDS AVENUE,2.217000e+06,"(51.4483941, -0.1604676)",51.448394,-0.160468
1546,BRAMPTON GROVE,2.456875e+06,"(51.5703648, -0.2833944)",51.570365,-0.283394
1625,BRIARDALE GARDENS,2.397132e+06,"(51.5601748, -0.1954305)",51.560175,-0.195431
1790,BROOKWAY,2.400000e+06,"(45.4321849, -122.802811661158)",45.432185,-122.802812
1906,BURBAGE ROAD,2.445000e+06,"(51.4509669, -0.0952879)",51.450967,-0.095288
1972,BURY WALK,2.492500e+06,"(52.1455294, -0.4235933)",52.145529,-0.423593
2059,CALLCOTT STREET,2.375000e+06,"(51.5083499, -0.1983276)",51.508350,-0.198328
2120,CAMPDEN HILL ROAD,2.379653e+06,"(51.5064605, -0.1988955)",51.506461,-0.198896
2127,CAMPION ROAD,2.461000e+06,"(52.6813505, 0.9654391)",52.681351,0.965439
2149,CANNING PLACE,2.425000e+06,"(53.4022012, -2.98726)",53.402201,-2.987260
2216,CARLISLE ROAD,2.200000e+06,"(42.5490988, -71.4166686)",42.549099,-71.416669
2221,CARLTON GARDENS,2.483500e+06,"(-37.80194335, 144.971970171017)",-37.801943,144.971970
2233,CARLYLE COURT,2.300000e+06,"(41.119072, -75.0615162)",41.119072,-75.061516
2396,CHALCOT SQUARE,2.286679e+06,"(51.5414545, -0.1552649)",51.541455,-0.155265
2474,CHARLES LANE,2.414000e+06,"(40.2375254, -83.349229)",40.237525,-83.349229
2552,CHELSEA CRESCENT,2.495000e+06,"(34.524738, -85.448539)",34.524738,-85.448539
2596,CHESTER CLOSE NORTH,2.450000e+06,"(51.5292054, -0.1450813)",51.529205,-0.145081
2627,CHEYNE COURT,2.250000e+06,"(51.599677, 0.5256231)",51.599677,0.525623
2630,CHEYNE ROW,2.410000e+06,"(51.4837173, -0.169603)",51.483717,-0.169603
2675,CHISWICK MALL,2.287500e+06,"(51.4879942, -0.2466045)",51.487994,-0.246605
2797,CLARENDON STREET,2.250000e+06,"(52.2947728, -1.5315409)",52.294773,-1.531541
...,...,...,...,...,...
10878,RUSSELL GARDENS MEWS,2.300000e+06,"(51.4998689, -0.2118904)",51.499869,-0.211890
11125,SETTLES STREET,2.487500e+06,"(51.5153237, -0.0643266)",51.515324,-0.064327
11200,SHELDON AVENUE,2.349542e+06,"(43.599287, -73.045426)",43.599287,-73.045426
11432,SOUTH END ROW,2.470000e+06,"(51.4987463, -0.1890787)",51.498746,-0.189079
11510,SOUTHWOOD LAWN ROAD,2.350000e+06,"(51.5746267, -0.146238)",51.574627,-0.146238
11513,SOVEREIGN PARK,2.500000e+06,"(-27.4937089, 153.210145350143)",-27.493709,153.210145
11729,ST MARGARETS CRESCENT,2.216500e+06,"(53.6074918, -0.267971)",53.607492,-0.267971
11765,ST OSWALDS PLACE,2.250000e+06,"(51.4872071, -0.1185341)",51.487207,-0.118534
11785,ST PETERS SQUARE,2.468730e+06,"(41.9022353, 12.4578392797771)",41.902235,12.457839
11822,STAFFORD TERRACE,2.355000e+06,"(51.5009379, -0.1960492)",51.500938,-0.196049
12160,SUTHERLAND PLACE,2.456000e+06,"(54.7731795, -1.5438161)",54.773179,-1.543816
12222,SYDNEY STREET,2.240833e+06,"(-33.8051445, 151.1933273)",-33.805144,151.193327
12364,THAMES BANK,2.400000e+06,"(51.471715, -0.2689072)",51.471715,-0.268907
12425,THE HEXAGON,2.335000e+06,"(-31.8956726, 26.8758122)",-31.895673,26.875812
12705,TREDEGAR SQUARE,2.436666e+06,"(51.5270935, -0.0321842332596606)",51.527093,-0.032184
12768,TRINITY STREET,2.317500e+06,"(52.206141, 0.1181326)",52.206141,0.118133
12918,UPPER HAMPSTEAD WALK,2.500000e+06,"(51.558467, -0.1774529)",51.558467,-0.177453
13179,WALPOLE GARDENS,2.303500e+06,"(51.4397435, -0.3412634)",51.439743,-0.341263
13181,WALPOLE STREET,2.242500e+06,"(52.626946, 1.2846547)",52.626946,1.284655
13255,WARWICK SQUARE,2.432273e+06,"(33.7385632, -117.846505677465)",33.738563,-117.846506
13352,WELBECK WAY,2.267000e+06,"(51.5171194, -0.1484584)",51.517119,-0.148458
13364,WELLESLEY TERRACE,2.410000e+06,"(51.5292142, -0.0929327)",51.529214,-0.092933
13375,WELLINGTON STREET,2.293155e+06,"(22.2810766, 114.1560454)",22.281077,114.156045
13507,WESTMORELAND PLACE,2.300000e+06,"(40.7402242, -111.8463235)",40.740224,-111.846323
13613,WHITFIELD STREET,2.451000e+06,"(53.4920178, -2.2422181)",53.492018,-2.242218
13657,WILFRED STREET,2.410538e+06,"(53.5116186, -2.1947278)",53.511619,-2.194728
13683,WILLOW BRIDGE ROAD,2.425000e+06,"(51.5431088, -0.0955079)",51.543109,-0.095508
13703,WILSON STREET,2.257500e+06,"(38.4394642, -122.7221956)",38.439464,-122.722196
13731,WINCHENDON ROAD,2.350000e+06,"(51.4769577, -0.2039029)",51.476958,-0.203903
13768,WINGATE ROAD,2.206400e+06,"(41.042984, -80.622981)",41.042984,-80.622981

In [14]:
df = df_affordable.drop(columns=['city_coord'])

In [15]:
df

                      Street     Avg_Price   Latitude   Longitude
195            ALBION SQUARE  2.450000e+06 -41.273758  173.289393
390              ANHALT ROAD  2.435000e+06  51.480326   -0.166761
405          ANSDELL TERRACE  2.250000e+06  51.499890   -0.189103
420          APPLEGARTH ROAD  2.400000e+06  53.749244   -0.326780
698         AYLESTONE AVENUE  2.286667e+06  51.540916   -0.217874
851          BARONSMEAD ROAD  2.375000e+06  51.477315   -0.239457
975           BEAUCLERC ROAD  2.480000e+06  51.499577   -0.229033
1096         BELVEDERE DRIVE  2.340000e+06  38.201316  -84.623076
1209       BICKENHALL STREET  2.208500e+06  51.521197   -0.158934
1247       BIRCHLANDS AVENUE  2.217000e+06  51.448394   -0.160468
1546          BRAMPTON GROVE  2.456875e+06  51.570365   -0.283394
1625       BRIARDALE GARDENS  2.397132e+06  51.560175   -0.195431
1790                BROOKWAY  2.400000e+06  45.432185 -122.802812
1906            BURBAGE ROAD  2.445000e+06  51.450967   -0.095288
1972               BURY WALK  2.492500e+06  52.145529   -0.423593
2059         CALLCOTT STREET  2.375000e+06  51.508350   -0.198328
2120       CAMPDEN HILL ROAD  2.379653e+06  51.506461   -0.198896
2127            CAMPION ROAD  2.461000e+06  52.681351    0.965439
2149           CANNING PLACE  2.425000e+06  53.402201   -2.987260
2216           CARLISLE ROAD  2.200000e+06  42.549099  -71.416669
2221         CARLTON GARDENS  2.483500e+06 -37.801943  144.971970
2233           CARLYLE COURT  2.300000e+06  41.119072  -75.061516
2396          CHALCOT SQUARE  2.286679e+06  51.541455   -0.155265
2474            CHARLES LANE  2.414000e+06  40.237525  -83.349229
2552        CHELSEA CRESCENT  2.495000e+06  34.524738  -85.448539
2596     CHESTER CLOSE NORTH  2.450000e+06  51.529205   -0.145081
2627            CHEYNE COURT  2.250000e+06  51.599677    0.525623
2630              CHEYNE ROW  2.410000e+06  51.483717   -0.169603
2675           CHISWICK MALL  2.287500e+06  51.487994   -0.246605
2797        CLARENDON STREET  2.250000e+06  52.294773   -1.531541
...                      ...           ...        ...         ...
10878   RUSSELL GARDENS MEWS  2.300000e+06  51.499869   -0.211890
11125         SETTLES STREET  2.487500e+06  51.515324   -0.064327
11200         SHELDON AVENUE  2.349542e+06  43.599287  -73.045426
11432          SOUTH END ROW  2.470000e+06  51.498746   -0.189079
11510    SOUTHWOOD LAWN ROAD  2.350000e+06  51.574627   -0.146238
11513         SOVEREIGN PARK  2.500000e+06 -27.493709  153.210145
11729  ST MARGARETS CRESCENT  2.216500e+06  53.607492   -0.267971
11765       ST OSWALDS PLACE  2.250000e+06  51.487207   -0.118534
11785       ST PETERS SQUARE  2.468730e+06  41.902235   12.457839
11822       STAFFORD TERRACE  2.355000e+06  51.500938   -0.196049
12160       SUTHERLAND PLACE  2.456000e+06  54.773179   -1.543816
12222          SYDNEY STREET  2.240833e+06 -33.805144  151.193327
12364            THAMES BANK  2.400000e+06  51.471715   -0.268907
12425            THE HEXAGON  2.335000e+06 -31.895673   26.875812
12705        TREDEGAR SQUARE  2.436666e+06  51.527093   -0.032184
12768         TRINITY STREET  2.317500e+06  52.206141    0.118133
12918   UPPER HAMPSTEAD WALK  2.500000e+06  51.558467   -0.177453
13179        WALPOLE GARDENS  2.303500e+06  51.439743   -0.341263
13181         WALPOLE STREET  2.242500e+06  52.626946    1.284655
13255         WARWICK SQUARE  2.432273e+06  33.738563 -117.846506
13352            WELBECK WAY  2.267000e+06  51.517119   -0.148458
13364      WELLESLEY TERRACE  2.410000e+06  51.529214   -0.092933
13375      WELLINGTON STREET  2.293155e+06  22.281077  114.156045
13507     WESTMORELAND PLACE  2.300000e+06  40.740224 -111.846323
13613       WHITFIELD STREET  2.451000e+06  53.492018   -2.242218
13657         WILFRED STREET  2.410538e+06  53.511619   -2.194728
13683     WILLOW BRIDGE ROAD  2.425000e+06  51.543109   -0.095508
13703          WILSON STREET  2.257500e+06  38.439464 -122.722196
13731        WINCHENDON ROAD  2.350000e+06  51.476958   -0.203903
13768           WINGATE ROAD  2.206400e+06  41.042984  -80.622981

[156 rows x 4 columns]